framework: >= netstandard1.6, >= net461
source https://nuget.org/api/v2

nuget FAKE
nuget FSharp.Core

//client
clitool dotnet-fable
nuget Fable.Core
nuget Fable.Import.Browser
nuget Fable.Elmish.React
nuget Fable.Elmish.Browser
nuget Fable.Elmish.Debugger

//server
nuget DotNetNuke.Core 8.0.4.226 restriction: >= net461
nuget DotNetNuke.WebApi 8.0.4.226 restriction: >= net461
nuget Microsoft.AspNet.WebApi
nuget System.ValueTuple